.dropzone {
    border: dashed 4px #ddd !important ;
    background-color: #f2f6fc;
    border-radius: 15px;
}

.fake {
    color: red;
}

.real {
    color: green;
}

.image-grid {
    height: 150px;
    width: 150px;
}
.column {
    float: left;
    margin-bottom: 22px;
    width: unset !important;
}