FlaskApp/__pycache__
FlaskApp/ML-Models
FlaskApp/static/frames
flaskenv
FlaskApp/uploads
paper/paper.aux
paper/paper.log
paper/paper.bcf
paper/paper.run.xml
paper/paper.synctex.gz
paper/paper.bbl
paper/paper.blg
paper/paper.fdb_latexmk
paper/paper.fls