<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <title>Deepfake Detection App</title>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="s-header">

        <div class="s-header__logo">
            <a href="/">
                Home
            </a>
        </div>

        <div class="s-header__content">
            <h1 class="text-center text-2xl">Deepfake Detection App</h1>
        </div>


    </header>

    <!-- Main Content -->
    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Footer -->
    <footer class="bg-blue-600 p-4 text-center text-black">
        <p>&copy; {{ year }} Deepfake App - Govinda. All rights reserved.</p>
    </footer>
</body>
</html>
