<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: "#da373d",
                    },
                },
            },
        };
    </script>
    <title>Deepfake Detection App</title>
</head>
<body class="bg-gray-100">
    <!-- Header -->
    <header class="bg-blue-600 p-4 text-white">
        <h1 class="text-center text-2xl">Deepfake Detection App</h1>
    </header>

    <!-- Main Content -->
    <main class="p-6">
        {% block content %}
        {% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Footer -->
    <footer class="bg-blue-600 p-4 text-center text-white">
        <p>&copy; 2024 Deepfake App - Govinda. All rights reserved.</p>
    </footer>
</body>
</html>
